[2013-07-18 16:36] natalia-garcia opened #1 ""responses:" and "formParameters" is not being validated in included yaml"
An included yaml file s not being validated properly for the following values:
1. "response:" instead of "responses:"
2. "parameters" instead of "formParameters"

[2013-09-25 13:13] #1 closed, assigned to nobody

[2013-11-08 11:01] oleksandr opened #73 "ReferenceError: window is not defined"
I'm trying to run simple validation snippet from the command line:

[code]

The error:

[code]

[2013-11-08 11:43] #73 closed, assigned to nobody

[2013-12-04 15:39] dmartinezg opened #81 "appendNewNodeToParent adds arrays as hash keys if context of !include is mapping"
With the following RAML, the parser fails (nevermind the content in tt.yaml):

[code]

[2013-12-04 23:03] #81 closed, assigned to xaka

[2013-12-07 04:47] malleshv opened #84 "Issue with !include"
This issue is related to #81 and occurs if the file included as a trait includes a JSON schema file.

Eg.,
# %RAML 0.8

title: TT

traits:
- !include http://host/common/traits/tt.yaml

The trait file included contains the below:

CLIENT_ERRORS:
      displayName:  CLIENT_ERRORS
      responses:
        400:
          description: Client request related errors.
          body:
            applicati

[2013-12-30 16:26] #84 closed, assigned to nobody

[2014-01-07 16:01] lovoni opened #92 "Parsing a raml file fails when a resource has a URI starting with /type"
When a resource URI starts with /type (e.g /types_offres), the parsing fails.
This was experienced with the Raml-Console.

Bellow is the error message:

{"context":"while applying resource type","context_mark":null,"message":"there is no resource type named displayName","problem_mark":{"name":"/api/spec/boutel-rest-api.raml","line":178,"column":8,"buffer":"#%RAML 0.8\n--  .....

![raml-fragment](h

[2014-02-10 17:06] #92 closed, assigned to nobody

[2014-02-22 01:58] gmaggess opened #97 "AST to RAML"
Hi there,

Does the API provide a way to create the RAML file from an AST? That is, imagine I have a JSON representation of a REST service and I wanted to create a raml representation of such service.

Cheers,
George

[2014-04-06 22:01] kevinrenskers opened #100 "ReferenceError: parent is not defined"
When trying to parse a RAML file with composeFile I always get the following error: `Error parsing: ReferenceError: parent is not defined`

[code]

Not sure where this error is coming from. This is happening with even the most basic of RAML files.

[2014-04-07 12:33] #100 closed, assigned to nobody

[2014-04-09 15:55] kevinrenskers opened #102 "Random order of resources"
I've split my (rather large) RAML file up into different files and my main file now looks like this:

[code]

Now whenever I parse this via `loadFile` I get the resources in a random order. This is a problem in my raml2html renderer (see https://github.com/kevinrenskers/raml2html/issues/6) because the html output is now always different, causing much confusion.

[2014-04-14 21:53] flyswatter opened #103 "Descriptive errors would be great"
Right now if there is an error, the program fails silently, exits with a success code, and does not give a stack trace.  If these could be piped over from its python internals, it would make working with this much more pleasant.

[2014-04-25 13:12] Ezku opened #104 "FileReader::fetchFileAsync performance and indeterministic failures"
Hi,

I recently had the pleasure of writing a library that creates accessible REST resource objects out of RAML descriptor files. For this I used raml-parser as a node module, and things worked out mostly fine. I had a bit of a tricky time getting everything set up though, for two reasons.

Reading a RAML file with multiple files as dependencies takes quite a lot of time comparatively, even on loc

[2014-05-30 13:22] monikma opened #106 "Should missing parameter value throw a parsing exception?"
According to http://raml.org/spec.html#toc_59 and my understanding, if we specify a parameter inside a trait/resource type, and then try to use this type without providing the parameter value, the parsing should fail:

"The definitions of resource types and traits MAY contain parameters, whose values MUST be specified when applying the resource type or trait, UNLESS the parameter corresponds to a

[2014-06-23 14:23] freezy opened #107 "Release new version on npmjs.org"
Hi,

Any reason why you're holding back a version bump on npmjs? The Windows bugs that were fixed would be nice to be published so everybody on the project can use our doc generator. For now we're referencing the GitHub repo directly, but it would be more proper linking to a specific version.

Cheers!

[2014-08-12 03:17] alecthomas opened #108 ""property: 'displayName' is invalid in a method" contrary to spec?"
The spec doesn't seem to specifically mention `displayName` on methods, but examples within the spec include them. See the third example [here](https://github.com/raml-org/raml-spec/blob/master/raml-0.8.md#base-uri-parameters):

[code]

The RAML JS parser seems to disallow this.

[2014-08-24 06:05] cybertk opened #109 "Resource Types parameters does not work in `!include`"
Given a **Resource Type**,

[code]

the `!include samples/<<resourcePathName|!singularize>>.sample` cannot be parsed as `!include samples/resource.sample` when apply **Resource Type** to `/resource`

[2014-08-25 12:57] #109 closed, assigned to nobody

[2014-08-28 02:33] eibrahim opened #110 "Unknown Protocol error on windows with"
I get this error when I run osprey on a hello world project.  Same project works on mac but not on windows.

[code]

PS: see more details at https://github.com/mulesoft/osprey/issues/61

[2014-08-28 03:36] fedebongio opened #111 "Javascript raml parser does not report the error when inherits the definition of the resource types"
Here is a micro RAML prepared to show the problem:

[code]

[2014-10-02 09:53] hadesbox opened #112 "Override of Enums in QueryParams."
So if you define a queryParam inside a trait, and you use this trait for one method but then you override it on the method definition, the enums get added/joined/merged instead of overriden.

![Imgur](http://i.imgur.com/GxO1BlR.png)
Here is the sample RAML file.

[code]

In this example the enum [day, month week] defined in the trait, is not overriden by the enum defined in the method definition w

[2014-10-15 12:36] nvh opened #113 ""invalid security scheme property, it must be a map""
When validating the following raml file:

[code]

The parser returns the error "invalid security scheme property, it must be a map". When you change it to an array, the parser complains "invalid security schemes property, it must be an array". I think the former is the way as de spec describes it, but apparently that doesn't work.

[2014-10-16 09:28] #113 closed, assigned to nobody

[2014-10-16 21:35] marianomerlo opened #114 "Parser failing to load resource files when context is "/api""
I'm using OSPREY as follows:

var api = osprey.create('/api', app, {
  ramlFile: path.join(__dirname, '../raml_spec/api_spec.raml'),
  logLevel: app.get('env') !== 'test' ? 'debug' : 'off'
});

The API is loaded OK but when i want to open the console at /api/console it crashes because it can not load any resource file (json and schema) defined in the raml file.

The request to the file should be l

[2014-11-24 22:30] AFactor opened #115 "Error in parsing nested json schemas"
Raml parser doesn't attempt to parse or validate the nested schema.
 {
        "required": true,
        "description": "Bulk buy limit attributes",
        "type": [
          "object",
          "null"
        ],
        <i>"$ref": "bulkbuy-schema.json"</i>
      }
In the following example it would just treat this as a text. The fact that $ref is there wouldn't mean anything to RAML parser.

[2014-12-01 20:40] thebinarypenguin opened #116 "Parse error when using parameter transformers"
I think there is a bug in the handling of parameters and transformers. The following file is valid but only as long as the specified description spans 2 lines. If it is written as one line it will produce the error "unused parameter: key"

https://gist.github.com/thebinarypenguin/a1cb881d421070048fa2

[2014-12-02 11:23] #116 closed, assigned to nobody

[2014-12-03 20:09] #97 closed, assigned to nobody

[2014-12-03 20:10] #107 closed, assigned to nobody

[2014-12-03 20:14] #111 closed, assigned to nobody

[2014-12-20 02:59] blakeembrey opened #120 "Error fetching file from absolute URL on Windows"
Only checks for `https?` and disallows other protocols.

See code: https://github.com/raml-org/raml-js-parser/blob/684757be3e6d332014c55d1e2001a71da8159b1a/src/raml.coffee#L24-L25

See also: https://github.com/mulesoft/raml-client-generator/issues/6

[2014-12-24 23:10] #108 closed, assigned to nobody

[2015-01-05 10:53] mgurov opened #123 "Errors/exceptions in load handler are swallowed without trace"
When using library from node.js, occasional errors/exceptions that are caused by my load hander are silently lost without trace. This is not very expected and convenient during development and forces wrapping the handler in custom exception logging handler.

For example, this script won't print anything :

[code]

Expected behavior: similar to default callback error handling, e.g.

[code]
will rai

[2015-01-05 12:01] dmartinezg commented on #123
Hi @mgurov, that is effectively how [promises work](https://promisesaplus.com/#point-42). When an exception is thrown in a promise body, the whole promise is rejected with the error as argument. Since the exception _is handled_ by the Promise (in this case we are using the [q module](https://www.npmjs.com/package/q), your event for unhandled exception will not get fired.

This is how you should ca

[2015-01-05 12:01] #123 closed

[2015-01-05 14:06] mgurov commented on #123
Hi @dmartinezg,

Thank you for the quick reply. Yes, the `catch` of the q promise worked OK for me, no issue.

I used to have some experience with promises before, via angular.js, but the `catch` there is a shorthand to `promise.then(null, errorCallback)` (see https://docs.angularjs.org/api/ng/service/$q#the-promise-api ). Hence the confusion. Maybe adding a pointer to [q](https://github.com/krisk

[2015-01-08 20:23] #120 closed

[2015-01-12 02:36] blakeembrey commented on #110
Fixed with https://github.com/raml-org/raml-js-parser/pull/122

[2015-01-12 02:36] #110 closed

[2015-01-20 11:29] iki opened #125 "Release merges to master on npm, and tag versions properly"
Please do release merges on master to npm, and tag versions properly.

Currently [master](https://github.com/raml-org/raml-js-parser/commits/master) is ahead of [released 0.8.9](https://www.npmjs.com/package/raml-parser). That includes an unreleased fix for #122 that is blocking us. Also [tags](https://github.com/raml-org/raml-js-parser/tags) are not set properly.

That said, thanks for a great AP

[2015-01-21 11:40] dmartinezg commented on #125
Apologies for the delay.

0.8.10 is released and tagged.

Thanks for your support

[2015-01-21 15:49] iki commented on #125
Awesome, thank your for a quick response @dmartinezg!

[2015-01-21 15:49] #125 closed

[2015-01-23 05:12] blakeembrey opened #126 "File cache"
It'd be fantastic if there could be an exposed cache of parsed RAML. It'd be a breaking change to the API, but it'd enable much more performant and flexible solutions using the RAML parser. For example, having the API designer re-parse every change, generating documentation from a watch server, automatically restarting Osprey during development, etc. Also, it'd fix making multiple requests to the

[2015-01-23 11:34] dmartinezg commented on #126
:+1:

[2015-01-27 13:08] sichvoge opened #129 "Resource name is invalid: illegal character"
As by @dmartinezg suggested on https://github.com/mulesoft/api-designer/issues/275:

The API Designer (version something on 2015-01-01) reports

Resource name is invalid: illegal character

when there is a hyphen in a uriParameter, e.g.

/bug{a-b}:
  uriParameters:
    a-b:
      enum: [ a-b ]
Quick fix: use underscores instead of hyphens.

Issues:

Hyphen is a legal YAML word character.
Hyphens a

[2015-01-28 17:39] chmac opened #130 "Raml parser won't accept description in body"
The second example under [responses](http://raml.org/spec.html#responses) in the spec includes a `description` inside the body. However, this RAML parser fails on that example.

I added a generic header like so:

[code]

Then I tried to parse this like so:

[code]

Running this throws the following error:

[code]

[2015-01-28 17:43] chmac commented on #130
Reading the code it might be possible to use a `validate_common_properties ()` call inside `validate_body()`, but I'll leave that decision up to smarter minds than mine.

Thanks for your work on this tool by the way, it's a great help to be able to use RAML in javascript.

[2015-01-29 09:56] blakeembrey opened #132 "Remove dist and lib build directories from checkin"
It messes with commits greatly and makes history hard to follow. We should pull it into `npm` and `bower` `preinstall` steps so we don't need to worry about it anymore.

[2015-01-30 19:47] kevinrenskers opened #133 "String fields are formatted as dates if they contain a date-like value"
[code]

Ends up like:

[code]

[2015-03-09 12:28] blakeembrey opened #135 "Remove hard dependency on `q`"
It'd be nice to remove this hard dependency, as node and browsers have promises and consumers might not want to use the same promise library. We could use the global object and recommend people polyfill it instead.

[2015-03-11 10:28] kevinrenskers commented on #102
@usarid Any news on this? It's now been almost 7 months since the last update.

[2015-03-11 10:31] kevinrenskers opened #138 "Release notes or changelog?"
https://github.com/raml-org/raml-js-parser/releases doesn't say what's changed and I can't seem to find a changelog.

[2015-03-13 15:26] albertortizl commented on #102
Any news?

[2015-03-13 21:59] maxmert opened #139 "Can't throw Errors anywhere after promise resolved."
[code]

All promises wrapped with try/catch?

[2015-03-14 18:26] blakeembrey commented on #139
Hi @maxmert! Yes, you're correct. Promises are wrapped in a try/catch, so to catch any errors thrown in the chain you'll need to chain another error handler (e.g. `p.then(null, function (err) {})` or `p.catch(function (err) {})`). Let me know if this answers your issues :smile:

[2015-03-14 18:26] #139 closed

[2015-03-16 10:15] maxmert commented on #139
Thank you for your answer, but still I can not throw there:
[code]

I think I miss something. :)

[2015-03-16 11:37] blakeembrey commented on #139
@maxmert It's always wrapped in a `try/catch`. You can't throw inside a promise, it'll just cause an error with the promise that is chained. When you throw, it rejects the promise and you need to chain with `.catch(fn)` or `.then(null, fn)` to receive the error. This exists with promises to avoid the issues associated with `try/catch`, namely that you can't do it with asynchronous code.

[2015-03-16 22:09] maxmert commented on #139
Got it. Thank you =)

[2015-03-19 06:08] justjacksonn opened #140 "Access schema include paths"
Need to add the ability to get the actual !include path for schemas.

[2015-03-19 10:48] dmartinezg commented on #140
Hi @justjacksonn I am not sure what this issue is about, can you clarify?

[2015-03-19 13:49] blakeembrey commented on #140
Hi @dmartinezg! I asked him to log this and it was about being able to get the original `!include` path from a schema lookup. For example, `schema: !include schemas/user.json` loses the reference to `user.json` file and we can no longer do things with the original file (including validating that it's `$ref`s work, etc).

[2015-03-27 10:12] kevinrenskers commented on #102
Anyone? @usarid?

[2015-04-01 19:50] #103 closed

[2015-04-20 12:53] Prevole opened #143 "Resource types optional properties is not working with default media type."
Hi there,

I think I discovered an issue.

Having the following:

[code]

When the YAML file generated and a JSON is produced, the media type is not present for the method `patch` for path `/organizations/{id}`. If I remove the `?`, the application/json appears in the parsed content:

**Incorrect**
[code]

**Correct**
[code]

During my experimentation, I went to modify this file: https://github.co

[2015-04-20 13:03] dmartinezg commented on #143
hi @Prevole, good catch, I think this has to be done in `@resolve_inheritance_chain` which should return a fully expanded resource type

I will take a look and fix this, thanks for reporting

[2015-04-20 13:13] mblout opened #144 "RAML parser throws errors on headers in a trait"
I'm getting a validation error on the following (snippet) -
it flags the 'description' (the first item) as an error - "each header must be a map'.

[see this line in validate_headers: if (!(util.isNullableMapping(param[1]) || util.isNullableSequence(param[1])))]

Here's my RAML, defining headers in a trait:

    #%RAML 0.8
    ---
    title: Test Service
    baseUri: http://sometest.org/mobile/pla

[2015-04-20 13:37] dmartinezg commented on #144
I had to look at the format, you pasted this:

[code]

The `test-Mobile-Sql` header is wrongly indented, and the error message is in line `11` which it expects to be a mapping (a hash), but is a string... you should have something like:

[code]

[2015-04-20 15:28] mblout commented on #144
ooof, my bad [confirmed]. thanks!

[2015-04-20 15:28] #144 closed

[2015-04-23 22:58] norbertpotocki opened #145 "Specify the licensing for this project"
Could you please specify what is the licensing model for this project?

[2015-04-29 12:54] rmuhamedgaliev opened #146 "Remove default value unknown property 'securityScheme" as must required"
In original RAML follow field not must required. Why your app crash while not found it in raml doc?

[2015-04-29 14:54] dmartinezg commented on #146
Hi @rmuhamedgaliev, can you add a comment with a sample RAML that shows the error?

[2015-05-01 16:33] #102 closed

[2015-05-07 09:27] dolohow commented on #145
Apache license 2.0

[2015-05-07 18:49] blakeembrey commented on #104
This shouldn't be an issue anymore. If this happens for anyone, feel free to comment or create a new issue for us to look at.

[2015-05-07 18:49] #104 closed

[2015-05-07 18:52] blakeembrey commented on #102
@kevinrenskers Could you try the latest release? It should have fixed the resolved order of files and attaching to properties by separating it into a two step process.

[2015-05-11 22:04] kevinrenskers commented on #102
Works beautifully!

[2015-05-12 11:14] albertortizl commented on #102
Hi guys!

Do you know when the new version will be available in your online framework?

https://anypoint.mulesoft.com/

[2015-05-12 12:37] dmartinezg commented on #102
Hi @albertortizl, while we try to keep this repo clean of anything mentioning the Anypoint Platform I can answer, we are looking at a release of the latest version of #mulesoft/api-designer and #mulesoft/api-console (which will include this fix), some time next week.

[2015-05-12 13:39] albertortizl commented on #102
Thanks!

[2015-05-27 07:04] schmkr commented on #115
Maybe this project might be worth looking into for dereferencing `$ref` properties?
[bojand/json-schema-deref-sync](https://github.com/bojand/json-schema-deref-sync).

[2015-05-27 16:01] zaccharles opened #148 "mediaType is invalid in a body"
I may have interpreted the spec wrong, but shouldn't `mediaType` be an acceptable property of `body`, and if set, override the default `root` property of the same name?

[2015-05-27 16:06] #148 closed

[2015-05-27 16:07] zaccharles commented on #148
My mistake, I didn't read how to override the media type correctly :)

[2015-06-17 20:21] jabr9983 opened #149 "Error parsing: while scanning for the next token found character that cannot start any token in "Todo.raml", line 7, column 1"
I am getting this error when trying to parse my raml file.
Error parsing: while scanning for the next token found character 	 that cannot start any token   in "Todo.raml", line 7, column 1
I don't know what I am doing wrong. Any guidance would be great. This is my raml file:

[code]

[2015-06-18 07:28] blakeembrey commented on #149
@jabr9983 Could you try fixing up the snippet to have the proper whitespace? I can't see anything wrong around the error you're indicating.

[2015-06-18 07:31] blakeembrey commented on #149
Actually, looking at the error message I think you have a non-printable character on line 7. The error message actually tells you what the character is, but since you can't read it it just says "... character that ...".

[2015-06-18 12:27] dmartinezg commented on #149
Hi @jabr9983 you cannot use tabs to indent YAML, and hence RAML.

Check answer 2 in the faq: http://www.yaml.org/faq.html

[2015-06-18 14:50] jabr9983 commented on #149
I still can't get this functioning even with just using spaces rather than tabs, I am still getting the same error though. I have ran the project through a yaml checker and it says it is formatted correctly.

[2015-06-18 15:46] dmartinezg commented on #149
Can you re-share the RAML without tabs? (make sure to put it in ``` so that it is easier to see)

[2015-06-18 15:57] jabr9983 commented on #149
Yes I have a meeting to attend here but as soon as I return I will get that posted thanks, for your help.

[2015-06-18 16:11] jabr9983 commented on #149
Here is part of my RAML:

'"#%RAML 0.8
title: Todo API
version: v1
baseUri: http://localhost:3000
protocols: [HTTP, HTTPS]
mediaType: application/json
  /tasks:
    get:
      description: Get a list of all Tasks.
      responses:
        200:
        body:
	      application/json:
	        example: |
			  {
			    "tasks": [
				  {
				    "_id": "556f927e265f627993000012",
				    "description"

[2015-06-18 16:24] dmartinezg commented on #149
There are still tabs all over the place:

![image](https://cloud.githubusercontent.com/assets/1099335/8236220/4c52cff0-15bd-11e5-94a9-4d8f86959c0a.png)

[2015-06-18 16:33] jabr9983 commented on #149
Okay I guess I'm confused are you not supposed to space at all I didn't tab
I just did 2 spaced between each.

On Thu, Jun 18, 2015 at 10:24 AM, Damian Martinez Gelabert <
notifications@github.com> wrote:

[2015-06-18 16:35] jabr9983 commented on #149
Even like this it doesn't work.

'"#%RAML 0.8
title: Todo API
version: v1
baseUri: http://localhost:3000
protocols: [HTTP, HTTPS]
mediaType: application/json
/tasks:
get:
description: Get a list of all Tasks.
responses:
200:
body:
application/json:
example: |
{
"tasks": [
{
"_id": "556f927e265f627993000012",
"description": "Make dinner",
"name": "task1",
"date_created": "2015-06-03T23:49:18.059Z"

[2015-06-18 16:45] dmartinezg commented on #149
You need to indent, you had the right idea at first, but indentation _must_ be with spaces:

[code]

(use backticks, not singlequotes for code fences

[2015-06-18 16:54] jabr9983 commented on #149
Okay thanks

[2015-06-18 16:54] #149 closed

[2015-07-16 16:07] inspell opened #150 "example: !include examples/<<resourcePathName>>-200.json not working"
This type of inclusion is not working in a resource type.

I have a master file for resource types which I include in the main RAML file as
`resourceTypes:     !include resource-types.raml`

In the `resource-types.raml` file I have the following definition:
[code]

The raml-js-parser fails to parse the `!include examples/<<resourcePathName>>-200.json` part.
I expect it to include the example in th

[2015-07-16 16:13] dmartinezg commented on #150
You are correct RAML 0.8 specifically left this out, RAML 1.0 has this as a proposal https://github.com/raml-org/raml-spec/issues/84

[2015-07-16 18:51] sbdev opened #151 "JSON-lint fails to validate correct unicode encoding"
JSON-lint doesn't correctly validate unicode format `\uFFFF` and admits only numeric unicode values in their regular expression (i.e. `\u1234`).
https://github.com/codenothing/jsonlint/blob/3b09919cb62d4d46d07fd57bf5730b35c87b3c9c/jsonlint.js#L7

This results in errors in raml-parser if a json schema include unicode encodings such as this:
[code]

This issue has been raised in JSON-lint but no sol

[2015-07-17 05:52] inspell commented on #150
You are correct. I will go with the workaround for now.

[2015-07-27 12:42] IvanGoncharov opened #152 "Parser does validate missing responses"
According to RAML spec:

But `raml-parser` validates following constructions:
[code]

Real life example: https://github.com/raml-apis/GitHub/blob/staging/api.raml#L2121

[2015-07-28 13:05] mik01aj opened #153 "Misleading error message when the raml file does not exist"
Here's my RAML file:

[code]

I try to create documentation out of it using `raml2html@2.0.2` (that uses `raml-parser@0.8.11`):

[code]

And this is the output I get:

[code]

[2015-07-28 13:09] mik01aj commented on #153
Hmm, possibly it's a bug in `raml2obj` or `raml2html`...

[code]

[2015-07-28 13:13] mik01aj commented on #153
Yes, it is a bug in `raml2html`. I gave a wrong path to the file and it produced such a misleading error message.

[2015-07-28 13:23] mik01aj commented on #153
Bouncing back from https://github.com/kevinrenskers/raml2html/issues/144. The error message is produces by `raml-js-parser`.

[2015-07-29 06:57] blakeembrey commented on #153
@mik01aj I'm taking a look. When the file doesn't exist for me I get:

[code]

Do you have more information to replicate?

[2015-07-29 06:59] blakeembrey commented on #153
@mik01aj Sorry, I just saw it is the same issue when using `raml2html`. It actually looks like an issue in `raml2html`, but I'll investigate it.

[2015-07-29 07:08] blakeembrey commented on #153
@mik01aj Sorry to bounce you around issues, I can create the next one for you. It's caused by https://github.com/kevinrenskers/raml2obj/blob/master/index.js#L85-L91 which assumes if the file doesn't exist it's trying to parse a RAML file directly. Hence, `undefined` source since the second argument to `load` is the filename to resolve subsequent includes. I'm going to close this but I'll open an i

[2015-07-29 07:08] #153 closed

[2015-07-29 07:15] #145 closed

[2015-07-29 07:17] blakeembrey commented on #133
@kevinrenskers I believe timestamps are part of the YAML specification. If you want a string, it should be wrapped in quotes. Source: http://yaml.org/type/timestamp.html

[2015-07-29 07:17] #133 closed

[2015-07-29 07:18] blakeembrey commented on #138
Thanks for the report @kevinrenskers. I'll make sure we have a changelog for future releases and I'll add some information from the latest release.

[2015-07-29 07:18] #138 closed

[2015-07-29 07:24] blakeembrey commented on #114
@marianomerlo I'm closing this since it's an issue with `osprey@0.1.x`, not the RAML parser.

[2015-07-29 07:24] #114 closed

[2015-08-11 15:44] mbixby commented on #140
+1

[2015-08-11 16:05] blakeembrey commented on #140
Side note: I think the best way to keep backwards compatibility with the current parser would be to have the parser expand JSON schemas inline. It wouldn't require much of a change to support either.

[2015-08-11 18:57] mbixby commented on #140
Thanks for the links, I think I'll just override `fetchLocalFileAsync` in `raml.coffee` to get it working until there's a final decision.

By the way, with this kind of preprocessing the underlying issue is still there, now you're not only hiding `!include` paths but also hiding `$ref` paths from the included schemas (mutating the schemas in the process).

I'd be okay if there was some new `schema

[2015-08-11 19:10] blakeembrey commented on #140
@mbixby I definitely understand and it's something that will be fixed in future parsers. Keeping backward compat right now doesn't give us much choice until the next major release which will break the current parser. I think this is the lesser of two evils, for now.

[2015-08-17 07:33] robjens commented on #135
It is outdated as well...

[code]

[2015-08-18 18:38] ddossot opened #156 "`description` in a trait is not inherited by the resource"
With this trait:

    - legacyPages:
        description: |
          This is a legacy resource, prefer accessing pages from the `/pages` resource.

and this resource:

    /pages:
      is: [legacyPages, subCollection]

the description is not inherited, as it's visible in projects that use `raml-js-parser` (for ex. `api-console` and `raml2html`).

[2015-09-03 20:59] reesew opened #158 "extending with yaml anchors"
I can't use yaml's ability to extend objects defined earlier, I get an error `only scalar map keys are allowed in RAML`. Here's an example:

[code]
which should expand to
[code]

Is it really true that only scalar map keys are allowed for RAML? Or is it just that the parser doesn't know how to handle the `<<:` key? (I am not even sure whether `<<` is a scalar or not)

[2015-09-29 17:48] sram54 commented on #153
Is there any workaround to progress with getting the documentation.

[2015-09-29 17:48] sram54 commented on #153
error message: Error parsing: version validation The first line must be: '#%RAML 0.8' in "undefined", line 1, column 1

[2015-09-29 18:45] mik01aj commented on #153
This means that you give `raml2html` the wrong file path. The problem is that the message you got is misleading, and this ticket is exactly about this.

[2015-09-29 20:38] sram54 commented on #153
The path is correct. order.raml is in this path: C:\Users\sram\Google Drive\Object Edge\Innovation Labs\OeComs\OEOMS API\RAML2HTML. I changed the directory to this path and then ran raml2html order.raml->order.html. I get the same error

[2015-09-29 20:55] cdanderson opened #159 "securedBY: [null] produces error"
I have a resource defined as such:

[code]

I'm using raml2html, but parsing my RAML file results in the following error message:

[code]

Removing `securedBy: [null]` allows the file to be parsed correctly.

[2015-09-29 21:01] dmartinezg commented on #159
I don't think this is an RAML parser issue, this works for me:

[code]

[2015-09-29 21:10] blakeembrey commented on #159
@cdanderson You should look at logging it on [raml2html](https://github.com/kevinrenskers/raml2html) as the error is from https://github.com/kevinrenskers/raml2html/blob/master/lib/resource.nunjucks#L65 - I'd guess that it's not handling `null` and trying to do something specifically with the assumption of strings.

[2015-09-30 23:48] jimwhimpey opened #160 "Please push updated package to npm"
The [published npm module](https://www.npmjs.com/package/raml-parser) is 5 months old and still depends on `json-lint`, instead of the updated `jju`.

[2015-10-01 14:28] #159 closed

[2015-10-01 14:29] cdanderson commented on #159
Thanks for your comments. I've closed the issue here and will investigate further.

[2015-10-07 00:22] sram54 commented on #153
Hi Can you provide some resolution. Is there some way, I can still get the documentation

[2015-10-07 00:27] blakeembrey commented on #153
@sram54 If you're getting that error message, it's coming from `raml2html` and it's because the path is wrong. Is the path correct? What's the command you're running? This is really an issue for `raml2html` by the sounds of it.

[2015-10-08 20:49] sram54 commented on #153
Thanks Blake. It seems to be raml2html. Any suggestions on how I can get
someone to look at it?

*Sincerely,*

*Ram Subramanian*
Office: 925 331 8120
Cell: 925 389 2759

On Tue, Oct 6, 2015 at 5:27 PM, Blake Embrey <notifications@github.com>
wrote:

--

This email message (including any attachments) is for the sole use of the
intended recipient and may contain confidential and privileged informati

[2015-10-08 20:52] blakeembrey commented on #153
@sram54 Can you provide the command you're trying to run or something to replicate the issue?

[2015-10-21 21:24] dmartinezg commented on #151
This should be fixed by #157

[2015-10-21 21:24] #151 closed

[2015-10-21 21:24] #150 closed

[2015-10-21 21:25] dmartinezg commented on #146
I will close this one, as is old and no more information was provided.

[2015-10-21 21:25] #146 closed

[2015-10-21 21:25] dmartinezg commented on #130
This was fixed by v0.8.12

[2015-10-21 21:25] #130 closed

[2015-10-21 21:26] dmartinezg commented on #160
Done, apologies for the delay.

[2015-10-21 21:26] #160 closed

[2015-10-21 21:27] dmartinezg commented on #152
At the same time, RAML was designed so that missing stuff does not punish you, when a value is mandatory, the RAML spec says so, otherwise, a null is allowed.

[2015-10-21 21:27] #152 closed

[2015-11-05 10:57] JaniszM opened #163 "RAML v1.0"
What about support for new RAML 1.0? http://docs.raml.org/specs/1.0/

[2015-11-05 12:00] dmartinezg commented on #163
Hi @JaniszM, this parser will be superseded by https://github.com/raml-org/raml-js-parser-2 as soon as it is ready for public usage.

That parser already supports 0.8 and 1.0 versions.

[2015-11-05 13:31] JaniszM commented on #163
Great.

[2015-11-05 13:31] #163 closed

[2015-11-17 19:45] ranacseruet opened #165 "Can't parse valid yaml definition because of apostrophe character"
[code]
Validated with: http://www.yamllint.com/

The problem is with the string "the devil's place". If I replace the apostrophe with single quote, it works just fine.

[2015-11-17 19:51] dmartinezg commented on #165
hi @ranacseruet, I just tested it, and get this output:

[code]
Are you sure you are including the right RAML source? maybe it is some weird UNICODE?

[2015-11-17 21:14] ranacseruet commented on #165
Ah, seems like github changed the apostrophe character. Please try this file:

https://dl.dropboxusercontent.com/u/16060416/raml.yaml

Yes, the issue is because of the apostrophe character. But as yaml supports that, I believe the parser also should, right?

[2015-12-10 16:06] JaniszM opened #167 "object2raml"
How can I parse loaded raml file again into raml file?

I did `ramlParser.loadFile(raml).then(function(data){...stuff...}` and I changed raml file and now I want to convert it again into raml. How can I do this ? :)

[2015-12-10 16:38] dmartinezg commented on #167
You can use this library:

https://github.com/mulesoft/raml-object-to-raml

It will only serialize, visible data, comments, will get lost, and it will probably export traits and resource types mixed in with the resources.

[2015-12-11 09:46] JaniszM commented on #167
Looks like this not working at all. Among all file exported only:

    #%RAML 0.8
    title: changed
    version: 1.0.0
    baseUri: /v1
    schemas: []
:D

[2015-12-11 10:34] #167 closed

[2015-12-14 15:09] JaniszM opened #168 "Parsing schemas cause replacing reference of schema by schema object"
Like in subject, If I have schema in my raml e.g.:
`    -   Error: !include error-schema.json`
and I use it:

            "400":
                description: Request validation error.
                body:
                    application/json:
                        schema: Error
                        example: '{"status":1,"description":"sample description","code":1}'

than raml parser replaces

[2015-12-14 15:13] dmartinezg commented on #168
Hi @JaniszM, it looks like you want the un-transformed output from the parser, that can be done, simply by asking the parser not to `transform` the input via a feature flag like this:

https://github.com/raml-org/raml-js-parser/blob/master/test/specs/parser.js#L90

Although in that case, the RAML parser is hardly much better than a YAML parser which follows the `!include` tag.

[2015-12-29 22:26] plukevdh commented on #168
The Java RAML Parser (v0.8) parses this differently with the result I believe @dmartinezg is desiring. Rather than replacing the schema with the definition import, it leaves the schema name in place. Example RAML:

[code]

 From my Intellij debugger, when read via the Java RAML parser, the result looks like the following:

![](http://d.pr/i/12re0/3ePw5xaZ+)

Note the "Schema" field reads "SessionR

[2015-12-29 22:56] plukevdh commented on #168
For reference on how the two parsers differ from a test perspective:

https://github.com/raml-org/raml-java-parser/blob/master/src/test/java/org/raml/parser/builder/SchemaBuilderTestCase.java#L73-L74

vs.

https://github.com/raml-org/raml-js-parser/blob/master/test/specs/parser.js#L5723-L5762

[2015-12-29 23:06] plukevdh commented on #168
And really, to fix, all you have to *not* do is this: https://github.com/raml-org/raml-js-parser/blob/c8edf033a40c33a28161fa67a57fd710e7ddb005/src/composer.coffee#L61

[2016-01-03 17:53] dmartinezg commented on #168
Hi @plukevdh, you are right that is where we are transforming the output.

As I mentioned above, the way to avoid this transformation is by calling the parser _with_ the flag `transform` to off.

[code]

[2016-01-04 09:14] JaniszM commented on #168
Sorry for late answer, I was on vacation :)
@plukevdh you got it well I think.
@dmartinezg I checked flag `{transform: false}`. Looks this is exactly what I need :) Thanks.

[2016-01-04 09:45] JaniszM commented on #168
Ok, after checking it again I got serious problem. disabling transform makes whole structure of object like this visible in raml file. This mean that raml-object-to-raml lib cannot parse it anymore :( Is it possible any other way to use schemas like in transform disabled mode but still keep the structure of trasformed object?

[2016-01-04 14:39] plukevdh commented on #168
Going to check out `{transform: false}` to see if it works for my case as well.

[2016-01-04 15:29] plukevdh commented on #168
This does not follow the Java parser convention either as it doesn't perform _any_ of the transformations. It doesn't collect the endpoints (`/session`) under the `endpoints` property. This seems like a very unfortunate divergence of the two parsers.

[2016-01-06 17:18] maremmle commented on #140
+1

What's the current progress on this? I am currently struggling with schema `$ref` not getting resolved. Looks like https://github.com/bojand/json-schema-deref-sync (also mentioned in #155) is the perfect library to resolve this issue.

[2016-01-07 22:59] plukevdh commented on #168
@dmartinezg any comment on what we might do to make the two parsers work more similarly?

[2016-01-08 17:47] dmartinezg commented on #168
Hi @plukevdh and @JaniszM, I just pushed a branch, adding a specific flag for this, you can check https://github.com/raml-org/raml-js-parser/commit/4d49f906c7c3ad8dc302e8bea559c4dbfce4225c#diff-51b64dc80fa386af7ffcd496680224fdR124 to see how to disable the behaviour.

would this be enough for you?

[2016-01-08 18:02] #168 closed

[2016-01-08 18:16] plukevdh commented on #168
Looks legit, I need to test though.

[2016-01-08 18:17] dmartinezg commented on #168
I just pushed 0.8.15 to npmjs, it should make testing easier.

[2016-01-08 19:37] plukevdh commented on #168
:+1: works as required. thanks for this solution. I'd be curious if it solves @JaniszM's problem as well.

[2016-01-11 15:06] JaniszM commented on #168
Works perfectly :)

[2016-02-26 20:34] priyavivek1 opened #171 "oauth_2_0 is not inherited at endpoint level"
Following is my RAML and i want to include oauth_2_0 at endpoint level. Its not giving any error and also not including it,

#%RAML 0.8
---
title: File System
version: v3
baseUri: https://api.domain.com/{version}/{other}
baseUriParameters:
  other:
    displayName: Dummy
    description: |
      Description of the *other* baseUriParameter
    default: abc
mediaType: application/json
securityScheme

[2016-02-29 17:42] dmartinezg commented on #171
Hi @priyavivek1, I am not sure what you mean by `endpoint level` do you mean that the `securedBy` property is not copied to each resource in the tree?

[2016-02-29 18:14] priyavivek1 commented on #171
SecuredBY property can be specified at root level also, which should after parsing be added to each endpoint level.

[2016-03-04 02:47] priyavivek1 opened #173 "Restricting the compilation of Includes in RAML"
Currently, when any RAML file containing Includes is parsed, the resulting object contains the includes in compiled form. Is there any way to avoid it. For eg, in below RAML

schemas:
- ABC: !include jsd/ABC.1.schema.json

/av/avcd:
  is: ["aaaa", responses]
  get:
    is: [ABC]
    description: |
      A search will return a list of external application party identifiers.
    queryParameters:

[2016-03-04 13:18] dmartinezg commented on #173
Hi @priyavivek1, the parser processes a lot of the content, and resolves schemas names to schema content.

There is a feature flag not to resolve schema names, you can disable schema transformation like this: https://github.com/raml-org/raml-js-parser/blob/master/test/specs/schemas.js#L124

[2016-03-05 02:55] priyavivek1 commented on #173
Thanks @dmartinezg, it worked for me in latest version : Is there any feature to restrict the schema compilation at root level also.
For eg

schemas:
RetrievePartyAlternatePartyKeyListRs: !include jsd/RetrievePartyAlternatePartyKeyListRs.1.schema.json

raml.loadFile(source, {applySchemas: false}).then(function(data) {
console.log(data.schemas)
}

when i print data.schemas, it gives me compiled sch

[2016-03-07 13:30] dmartinezg commented on #173
No, there is no way to disable resolution of `!include` tags, and I wonder if it is legal RAML 0.8, the spec says:

[code]

[2016-03-09 15:23] przezor commented on #140
+1

[2016-03-31 10:11] alexresta opened #174 "Parsing resourcetypes with optional methods do not inherit in the resources"
The thing is that if you define methods as optional it doesn't include the traits (headers, queryparameters etc) in the parsed tree.

It does when you force them as required, but then you are breaking the "optional" thing, if you want to define a resource of that type that has a GET and a POST method, but another resource that only implements the GET...

As an example, I have the following very si

[2016-03-31 12:04] dmartinezg commented on #174
Hi @alexresta, thanks for reporting, we will take care of this right away.

[2016-03-31 13:38] #174 closed

[2016-03-31 14:08] alexresta commented on #174
seems to work! :)

any idea when it will be available as a release? thanks a lot!

[2016-03-31 14:15] dmartinezg commented on #174
Hey @alexresta, I just released v0.8.16 in npm.

[2016-03-31 14:19] alexresta commented on #174
gracias crack!

[2016-04-18 13:20] alvassin commented on #140
@blakeembrey +1 blocked by this issue . Have decided how to solve this issue?

[2016-04-18 17:15] alvassin commented on #140
@martnst How you were able to achieve that outside of raml-js-parser?

[2016-04-18 17:19] alvassin commented on #140
@dmartinezg @blakeembrey I have to keep my schemas in different folders, so this issue is very important for me.

I can add some additional setting `resolveReferencedSchemas`, which would cause raml-js-parser to return text with substituted $ref to schemas. Is this solution acceptable?

I can make pull request with resolving referenced schemas without changing current interface of parser. Please l

[2016-04-18 17:24] martnst commented on #140
I have a rather complex setup include forks of dependencies here and there. Basically I have a node script that wraps everything up. It's all in the context of [raml2hml](https://github.com/raml2html/raml2html). Therefor I am not sure my solution would help.

[2016-04-18 17:29] blakeembrey commented on #140
@alvassin I do not work on this project anymore, @dmartinezg should be able to help you out. It sounds reasonable though.

[2016-04-18 17:37] dmartinezg commented on #140
@alvassin, yes, if you can add the feature flag, we would be able to accept the patch.

[2016-04-19 20:04] alvassin commented on #140
@dmartinezg I checked https://github.com/raml-org/raml-js-parser/pull/170 pull request. It is fine, except one issue: it does not deal with schemas, included at the root of RAML document. For inline inclusions it works fine.

Currently it's impossible to check if specified file belongs to `schemas` tag. We have just current & parent nodes, but we need parent.parent node. From my point of view, it

[2016-04-20 16:55] dmartinezg commented on #140
I don't think it would be that simple to do while loading the document, because at that stage, the actual root `schema` key may not even be loaded, or may be included in another file. I think that this approach will fail for including root schemas.

Instead of doing this step in the YAML loading (in `raml.coffee`), it could be done as a composing step, in the `composeRamlTree` function at https://

[2016-04-20 17:11] alvassin commented on #140
@dmartinezg Thanks for suggestion! I'll update code and add additional tests 👍

[2016-04-20 23:51] alvassin commented on #140
@dmartinezg I implemented one more stage, that works after all fragment files are loade, but before composer (i would like to provide to composer ready object model for further validation & processing) - by adding [one more `then` callback](https://github.com/raml-org/raml-js-parser/blob/master/src/raml.coffee#L140).

Currently all cases are fine except inline defined schemas with `$ref`s: `proces

[2016-04-21 13:56] dmartinezg commented on #140
As long as all !included files have been already de-referenced and parsed, I don't see an issue with cwd (I think)

[2016-04-21 16:51] alvassin commented on #140
The problem is not with `!include`-ed files, but with inline-defined schemas, that contain $ref-s. Schemas can contain paths, relative to raml file.

[2016-04-25 17:14] alvassin opened #177 "CORS: implement setting to perform XHR requests with withCredentials=true"
I want to implement ability to display raml specs in [api console](https://github.com/mulesoft/api-console/) passed directly from private bitbucket repo.

Imagine you have single raml.corp.your-company.com instance, which is being deployed directly from api-console repo. User specifies some url to raml file from some service, and if he is authorized & has access to specified file, his file is load

[2016-04-27 13:16] dmartinezg commented on #177
If people want to implement custom HTTP, they can load their own fileReader, the parser already provides an alternative to overload file resolving, so I don't think we need to do anything else here.

Maybe we should ask api-console, to allow a hosting application to override the fileReader given to the parser.

Would you close this one please?

[2016-04-27 17:20] #177 closed

[2016-04-27 23:44] #140 closed

[2016-04-29 15:48] #173 closed

[2016-04-29 15:52] priyavivek1 opened #178 "Error parsing: while validating trait properties resource type cannot define child resources"
"Error parsing: while validating trait properties
resource type cannot define child resources". I am getting this error while parsing RAML using raml-js-parser.

Seems to be working fine in Java but getting this issues in Javascript one.

Sample RAML:

/abc:
  type: Sample
  description: individual-to-party relationships

- Sample:
      is: []
   .<<Removed Code from here>>
      /{key}:  Key is

[2016-05-02 12:13] dmartinezg commented on #178
What the error is saying is that a resource type or trait MAY NOT have a child resource inside.

Without the full RAML, it is hard to pinpoint the exact syntax error, but in `Sample` (which is a resource type), you are defining a `/{key}` child resource.

If you can provide a small, full RAML example with the error, it may be easier to point you to the syntax error.

[2016-05-13 14:26] repocho opened #179 "Circular $ref dependencies are not allowed with dereferencing"
### Issue:
If you define a circular Json Schema definition with the dereferencing option throws a circular exception.

References:
- PR: https://github.com/raml-org/raml-js-parser/pull/176
- related issue: https://github.com/repocho/raml-mocker/issues/20

### Proposal:
Implement a stringify function with a depth limit (by default 1000 circular repetitions) instead of using `JSON.stringify` functio

[2016-05-26 13:16] #179 closed

[2016-06-15 02:54] jorgegarciamule opened #181 "Browser distribution is bit heavy for browsers"
Generated file browserVersion/raml-1-parser.js is 16MB. Compiled with Google closure using ADVANCED_OPTIMIZATIONS it went down to 5.1M. With gzip it goes to 1.2M. This represents around 60% on weight on this project https://github.com/mulesoft/api-console (assuming advanced minification).

[2016-06-15 14:25] jorgegarciamule commented on #181
Sorry, this was for raml-js-parser-2 project.

[2016-06-15 14:25] #181 closed, assigned to nobody

[2016-07-02 00:46] patrickhousley opened #182 "SyntaxError: Unexpected token < in JSON at position 0"
Looks like `dereferenceSchemas` is attempting to JSON.parse a raml file.

Below is a redacted version of my raml file.

[code]

I changed line 302 of `dereferenceSchemas` to:

[code]

Output:

[code]

This leads me to believe it is attempting to parse `src/resourceTypes/collection.yaml` as JSON. Below is the contents of that file:

[code]

[2016-07-04 17:03] dmartinezg commented on #182
Hi @patrickhousley I cannot seem to be able to reproduce this. How are you testing?

this is the RAML I am using (with you `collection.yaml` file)

[code]

maybe there is something weird in your `types/carts.yaml` file, which is not included in the issue

[2016-07-04 17:49] FredericHeem commented on #182
I was bitten by the same bug so it's a real one.

[2016-07-04 17:53] dmartinezg commented on #182
I don't doubt it, can you share a RAML that I can use? @FredericHeem

[2016-07-04 19:03] patrickhousley commented on #182
Test:

[code]

dereference-json-schema.raml:

[code]

resourceTypes/collection.yaml

[code]

Result:

[code]

[2016-07-12 13:07] aschekatihin opened #183 "Schema references in resource methods aren't code generation friendly"
At the moment parser generates raml model object three with body or response sections that look like this:

[code]

Schema name is lost at this point and replaced with schema content (JSON). We are creating custom code generator and need original schema name there, so it would be nice to have structure like this:

[code]

Or like this, but it will be breaking change for everyone relying to current

[2016-07-24 21:05] oscarr-reyes opened #184 "Cannot read included files with directory containing spaces on Windows"
Parser gets an error and no longer works when it tries to load included files in a raml file

for example, the files are placed like this:

c:/Users/LDV Tech/RAML/api.raml
c:/Users/LDV Tech/RAML/schemas/tokens.json

raml parser is used like this:

[code]

The error comes when `raml-parser` tries to load `tokens.json` because at some point the directory for this file is processed like this: `c:/Use

[2016-07-28 15:31] sichvoge commented on #158
Only scalar map keys are allowed afaik.

[2016-07-28 16:16] reesew commented on #158
ok, but the `<<: *foo` functionality is valid yaml, so, is there a way to get that fixed?

[2016-09-17 13:17] Rotzbua commented on #182
I used https://github.com/raml2html/raml2html which depends on this library.
The bug is there also, if you use `<<placeholder>>` statements. So I think it is an bug of this library. Would be nice if this can be fixed :).

[2016-10-04 21:36] protometa opened #185 "loadFileSync"
Since this is usually done when the app is initializing it would be nice to have a synchronous form of `loadFile` so that everything else that depends on the express app doesn't have to deal with a promise.

[2016-11-01 12:37] wdullaer commented on #184
This happens on the mac as well.
Somewhere this library html escapes all file paths, regardless of wether they are local or not.
When the OS is presented with this html escaped version of the path it cannot find the file

[code]

[2017-01-20 21:40] vikclickz opened #186 "Parser does not include description of high-level uri parameter."
Consider the following raml document

[code]

so the url for the for the innermost resource resolves to /play/{first}/subresource/{second}

In this case, the parser does not pick-up the description of the higher level uri parameter and include it in the uri parameter description of the {second} resource.

Also, if I try to manually add the description of the {first} uri parameter in the uriParamet

[2017-03-15 10:45] nisPande17 commented on #153
I am trying to write RAML in Anypoint API Manager and got below error:
"Promise is undefined" at the very first line :
1.#%RAML 0.8

This I was getting while using IE and after switching to chrome, don't see any such error.

[2017-07-24 12:14] wdullaer opened #188 "`Types` is not an alias of `schemas`"
The description of the top level `schemas` key says that it is a deprecated alias for the new `types` key.
This means that I would expect the `types` key to be present if the raml file contains a `schemas` key.

This is not the case in the output of raml2obj / raml-js-parser right now (you get one or the other).

Furthermore, the content of these keys is also not identical.
`schemas` will return a

[2017-07-26 06:40] KajKandler commented on #188
Isn't this problem in the RAML 1.0 parser? This project is the RAML 0.8 parser --> https://github.com/raml-org/raml-js-parser-2

[2017-07-26 13:03] wdullaer commented on #188
So it is.
I'll recreate it there.

[2017-07-26 13:03] #188 closed, assigned to nobody